@import 'themes';
@import '~@nebular/theme/styles/globals';
@import 'assets/nebular.scss';

@include nb-install() {
  @include nb-theme-global();
};

// General
h1, h2, h3, h4, h5, h6 {
  color: #f2f6ff,
}

a {
  margin: 5px;
  cursor: pointer;
  text-decoration: !important none;
}

input {
  margin: 10px;
}

button {
  margin: 10px;
}
