<nb-layout>
  <nb-layout-header fixed>
    <div class="publicNav" routerLinkActive="active">
      <a href="/home" routerLink="/home">Home</a>
      <a href="/login" routerLink="/login">Login</a>
      <a href="/register" routerLink="/register">Register</a>
    </div>

    <div class="loggedNav" routerLinkActive="active">
      <a href="/orders" routerLink="/orders">Orders</a>
      <a href="/exchange-products" routerLink="/exchange-products">Products</a>
      <a href="/address" routerLink="/address">Addresses</a>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>