<nb-card size="large" status="warning">
  <nb-card-header>MY ADDRESSES</nb-card-header>

  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let addressItem of addresses">
        <ul>
          <li><b>{{ addressItem.name }}</b></li>
          <li>
            {{ addressItem.street }} - {{ addressItem.neighborhood }}
          </li>
          <li>
            {{ addressItem.city }} - {{ addressItem.state }} - 
              {{ addressItem.country }} - {{ addressItem.zipCode }}
          </li>
          <li>{{ addressItem.description }}</li>
        </ul>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>