<form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
  <nb-card status="success">
    <nb-card-header>LOGIN</nb-card-header>
    <nb-card-body>
      <input type="text" nbInput fullWidth fieldSize="large" shape="round" placeholder="User" formControlName="user">
      <input type="password" nbInput fullWidth fieldSize="large" shape="round" placeholder="Password"
        formControlName="password">
    </nb-card-body>
    <nb-card-footer>
      <button nbButton outline status="success" type="submit">Access</button>
    </nb-card-footer>
  </nb-card>
</form>
